<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8" />
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} --Awesome Python WebApp</title>
    <link rel = "stylesheet" href = "/static/css/uikit.min.css">
    <link rel = "stylesheet" href = "/static/css/uikit.gradient.min.css">
    <link rel = "stylesheet" href = "/static/css/awesome.css">
    <script src = "/static/js/jquery.min.js"></script>
    <script src = "/static/js/md5.js"></script>
    <script src = "/static/js/uikit.min.js"></script>
    <script src = "/static/js/awesome.js"></script>
    {% block beforehead %}<!-- before head -->{% endblock %}
</head>
<body>
    <nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
        <div class="uk-container uk-container-center">
            <a href="/" class="uk-navbar-brand">Awesome</a>
            <ul class="uk-navbar-nav">
                <li data-url="blogs"><a href="/"><i class="uk-icon-home"></i>日志</a></li>
                <li><a target="_blank" href="https://onedrive.live.com/redir?resid=1F9629B2C032D2FE!301&authkey=!AK6Va1EhygnP6uk&ithint=folder%2cpdf"><i class="uk-icon-book"</i>Book</a></li>
            </ul>
        </div>
    </nav>
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <!--content-->
            {% block content %}
            {% endblock %}
            <!--content -->
        </div>
    </div>
</body>
</html>
